@charset "utf-8";
/* CSS Document */

/* ------------------- BANNER ------------------- */
#bg_banner{
	padding-bottom: 50px;
	background: linear-gradient(to bottom, rgba(216,33,72,1.00), rgba(255,255,255,1.00));
}

#banner{
	padding-left: 30px;
	padding-right: 30px;
}

.banner_home{
	padding: 15px;
	height: 600px;
	background-color: rgba(255,255,255,1.00);
	outline: solid 1px rgba(32,32,32,1.00);
	border-radius: 30px;
	box-shadow: 10px 10px 0 0 rgba(252,204,88,1.00);
}

.banner_img{
	padding: 0;
	margin: 0;
}

.banner_img img{
	width: 100%;
	height: 100%;
	object-fit: cover;
	outline: solid 1px rgba(32,32,32,1.00);
	border-radius: 20px;
}

.pagi_home{
	padding-top: 30px;
}

.pagi_button{
	background-color: aqua;
}

/* ------------------- SEARCH PETS ------------------- */
#search_pets{
	padding-bottom: 50px;
	text-align: center;
}

.card_pets{
}

.search_card{
	margin-top: 30px;
	padding: 0 15px 15px 15px;
	color: rgba(216,33,72,1.00);
	outline: solid 1px rgba(32,32,32,1.00);
	border-radius: 10px;
}

.search_card img{
	margin-bottom: 15px;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 10px;
}

.search_card a{
	margin-top: 15px;
	text-decoration: none;
	color: rgba(32,32,32,1.00);
}

.search_card a:hover{
	transition: all ease 0.3s;
	color: rgba(216,33,72,1.00);
}

.search_card:hover{
	transition: all ease 0.3s;
	color: rgba(32,32,32,1.00);
	box-shadow: 10px 10px 0 0 rgba(216,33,72,1.00);
}

/* ------------------- ABOUT US ------------------- */
#bg_aboutus{
	padding-top: 50px;
	padding-bottom: 50px;
}

#bg_aboutus .row{
	margin-top: 30px;
}

#bg_aboutus .readmore_btn{
	text-decoration: none;
}

#bg_aboutus .title_aboutus{
	clear: both;
}

#bg_aboutus .icon_60px{
	float: left;
	width: 60px;
	height: 60px;
	object-fit: cover;
	display: block;
}

#bg_aboutus .title_h4{
	float: left;
	margin-left: 10px;
}

.home_cont{
	text-align: center;
}

.cont_a, .cont_b{
	padding-top: 30px;
	padding-right: 30px;
	display: flex;
	flex-direction: column;
	margin-top: auto;
	margin-bottom: auto;
}

.cont_a{
	text-align: left;
}

.cont_b{
	text-align: right;
}


.img_aboutus img{
	margin-top: 30px;
	width: 100%;
	height: auto;
	background-size: cover;
}

/* ------------------- FEATURED PETS ------------------- */
#bg_featured{
	padding-top: 50px;
	padding-bottom: 50px;
}

.card_pet{
	margin-top: 30px;
	background-color: rgba(254,245,222,1.00);
}

.card_pet img{
	width: 100%;
	object-fit: cover;
	outline: solid 1px rgba(32,32,32,1.00);
	border-radius: 10px;
}

/* ------------------- OUR PROGRAMS ------------------- */
#bg_programs{
	padding-top: 50px;
	padding-bottom: 50px;
}

#bg_programs a{
	text-decoration: none;
}

.home_cont2{
	text-align: left;
}

.cont_a2{
	margin-top: 30px;
	display: flex;
	flex-direction: column;
}

.title_bordertop{
	padding: 15px 0;
	border-top: solid 1px rgba(252,204,88,1.00);
}

.readmore_btn{
	margin-top: auto;
	color: rgba(216,33,72,1.00);
	text-decoration: none;
}

.readmore_btn:hover{
	transition: all ease 0.3s;
	color: rgba(32,32,32,1.00);
}

#accordion_programs .card{
	margin-top: 30px;
	border: 0;
}

#accordion_programs .card-header{
	cursor: pointer;
	padding: 15px;
	margin-bottom: 15px;
	color: rgba(255,255,255,1.00);
	border: 0;
	border-top: solid 1px rgba(252,204,88,1.00);
	background-color: rgba(216,33,72,1.00);
}


#accordion_programs .card-header.collapsed{
	color: rgba(32,32,32,1.00);
	background-color: rgba(254,245,222,1.00);
}

.heading4{
	font-size: 24px;
	font-weight: bold;
}

#accordion_programs .card-header:after{
	margin-top: 5px;
	font-family: "FontAwesome";
	content: "\f325";
	float: right;
}

#accordion_programs .collapsed:after{
	margin-top: 5px;
	content: "\f322";
}

#accordion_programs .card-body{
	padding: 0;
	margin-bottom: 15px;
}

/* ------------------- ASSISTED REHOMING ------------------- */
#bg_rehoming{
	padding-top: 50px;
	padding-bottom: 50px;
	color: rgba(255,255,255,1.00);
	background-color: rgba(216,33,72,1.00);
}

/* ------------------- VOLUNTEERS ------------------- */
#bg_volunteers{
	padding-top: 50px;
	padding-bottom: 50px;
}

.img_volunteers{
	height: 250px;
	margin-top: 30px;
	background-color: aqua;
}

#accordion_volunteers .card{
	margin-top: 30px;
	border: 0;
}

#accordion_volunteers .card-header{
	cursor: pointer;
	padding: 15px;
	margin-bottom: 15px;
	color: rgba(255,255,255,1.00);
	border: 0;
	border-top: solid 1px rgba(252,204,88,1.00);
	background-color: rgba(216,33,72,1.00);
}

#accordion_volunteers .card-header.collapsed{
	color: rgba(32,32,32,1.00);
	background-color: rgba(254,245,222,1.00);
}

#accordion_volunteers .card-header:after{
	margin-top: 5px;
	font-family: "FontAwesome";
	content: "\f325";
	float: right;
}

#accordion_volunteers .collapsed:after{
	margin-top: 5px;
	content: "\f322";
}

#accordion_volunteers .card-body{
	padding: 0;
	margin-bottom: 15px;
}

/* ------------------- SUBSCRIBE ------------------- */
#bg_subscribe{
	padding-top: 50px;
	padding-bottom: 50px;
}

/* ------------------- PARTNERS ------------------- */
#bg_partners{
	padding-top: 50px;
	padding-bottom: 50px;
}

#bg_partners .margin_owlcar{
	margin-top: 30px;
}

#bg_partners .card_carousel{
	text-align: center;
}

#bg_partners .card_carousel h6{
	margin: 15px 0 0;
}

#bg_partners .img_partners img{
	width: 100%;
	height: 160px;
	object-fit: contain;
	padding: 15px;
	background-color: rgba(252,204,88,1.00);
	border-radius: 20px;
}

/* Owl Carousel - Button */
#bg_partners .owl-prev,
#bg_partners .owl-next{
    width: 60px;
    height: 60px;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
	display: block!important;
	color: rgba(255,255,255,1.00);
	background-color: rgba(216,33,72,1.00);
	border: solid 1px rgba(216,33,72,0);
	border-radius: 10px;
}

#bg_partners .owl-prev i,
#bg_partners .owl-next i{
	color: rgba(255,255,255,1.00);
	transform : scale(2,2);
}

#bg_partners .owl-prev:hover,
#bg_partners .owl-next:hover{
	color: rgba(32,32,32,1.00)!important;
	background-color: rgba(252,204,88,1.00);
	border: solid 1px rgba(32,32,32,1.00);
	border-radius: 10px;
	box-shadow: 5px 5px 0 0 rgba(216,33,72,1.00);
}

#bg_partners .owl-prev:focus,
#bg_partners .owl-next:focus{
	outline: none;
}

#bg_partners .owl-prev:hover i,
#bg_partners .owl-next:hover i{
	color: rgba(32,32,32,1.00);
}

#bg_partners .owl-prev{
	left: -80px;
}

#bg_partners .owl-next {
	right: -80px;
}

/* Owl-dots */
#bg_partners .owl-dots button.owl-dot.active span{
	width: 16px;
	height: 16px;
	margin: 0;
	background-color: rgba(216,33,72,1.00);
	box-shadow: 0 0 0 5px rgba(252,204,88,1.00);
}

#bg_partners .owl-dots button.owl-dot span{
	width: 16px;
	height: 16px;
	margin: 0;
	background-color: rgba(255,255,255,1.00);
	border: solid 1px rgba(216,33,72,1.00);
}

#bg_partners .owl-dots button.owl-dot span:hover{
	border: none;
	background-color: rgba(232,122,145,1.00);
}

#bg_partners .owl-dots button.owl-dot{
	margin: 0 15px;
}

#bg_partners .owl-dots button.owl-dot:focus{
	outline: none;
}

/* LG */
@media (min-width: 992px) and (max-width: 1199px){
}

/* MD */
@media (min-width: 768px) and (max-width: 991px){
}

/* SM */
@media (min-width: 576px) and (max-width: 767px){
	#banner{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.img_aboutus{
		margin-bottom: 30px;
	}
	
	#bg_aboutus .cont_b{
		text-align: left;
	}
	
	#bg_aboutus .readmore_btn{
		margin-top: 15px;
		text-align: center;
		padding: 8px;
		color: rgba(255,255,255,1.00);
		background-color: rgba(216,33,72,1.00);
		outline: solid 1px rgba(32,32,32,1.00);
		border-radius: 5px;
	}
	
	#bg_aboutus .readmore_btn:hover{
		color: rgba(32,32,32,1.00);
		background-color: rgba(252,204,88,1.00);
		box-shadow: 5px 5px 0 0 rgba(216,33,72,1.00);
	}
	
	#bg_partners .owl-prev,
	#bg_partners .owl-next{
		display: none!important;
	}
}

/* XS */
@media (max-width: 575px){
	#banner{
		padding-left: 15px;
		padding-right: 15px;
	}
	
	.img_aboutus{
		margin-bottom: 30px;
	}
	
	#bg_aboutus .cont_b{
		text-align: left;
	}
	
	#bg_aboutus .readmore_btn{
		margin-top: 15px;
		text-align: center;
		padding: 8px;
		color: rgba(255,255,255,1.00);
		background-color: rgba(216,33,72,1.00);
		outline: solid 1px rgba(32,32,32,1.00);
		border-radius: 5px;
	}
	
	#bg_aboutus .readmore_btn:hover{
		color: rgba(32,32,32,1.00);
		background-color: rgba(252,204,88,1.00);
		box-shadow: 5px 5px 0 0 rgba(216,33,72,1.00);
	}
	
	#bg_partners .owl-prev,
	#bg_partners .owl-next{
		display: none!important;
	}
}